<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="keywords" content="<%= @seo_content %>"/>
  <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'blogs', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<hr>
<%= render 'shared/nav', nav_class: 'bottom' %>
<hr>
<%= login_helper %>

<%= yield %>
<% if session[:source] %>
  Thanks for visiting me from <a href="" target="_blank"><%= session[:source] %></a>
<% end %>
</body>
</html>
