<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="keywords" content="<%= @seo_content %>"/>
  <%= stylesheet_link_tag 'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>


<%= render 'shared/portfolio_nav' %>
<%= render 'shared/portfolio_masthead' %>

<div class="album text-muted">
  <div class="container">
    <div class="row">

      <%= yield %>

    </div>
  </div>
</div>

<%= source_helper %>

<%= render 'shared/portfolio_footer' %>
</body>
</html>
